body {
  padding: 50px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  text-align: center;
}

.tables-container {
  width: 1320px;
  margin: 0 auto;
}

table {
  padding: 8px;
  width: 33%;
  float: left;
}

table:first-child, table:nth-child(2) {
  border-right: solid 1px;
}

col.name {
}

col.value {
  width: 15%;
}

col.status {
  width: 37%;
}

col.cycle {
  width: 6%;
}

th, td {
  text-align: center;
}

th.numeric, td.numeric {
  text-align: right;
}

.small-button {
  font-size: 16px;
  margin: 6px;
}

.big-button {
  font-size: 24px;
  margin: 12px;
}
