<!DOCTYPE html>
<html>
  <head>
    <title>Magnet Cycle</title>
    <link rel=stylesheet type=text/css href='{{ url_for("static", filename="css/style.css") }}'>
    <script src='{{ url_for("static", filename="js/knockout.js") }}'></script>
    <script>
      ko.extenders.numeric = function(target, precision) {
          var result = ko.dependentObservable({
            read: function() {
              return target().toFixed(precision); 
            },
            write: target 
          });
          result.raw = target;
          return result;
      };

      function AppViewModel() {
        {% for mag in magnets %}
          this['{{mag.tag}}_CURRENT_SP'] = ko.observable({{mag.setpoint}}).extend({numeric: 3});
          this['{{mag.tag}}_CURRENT_MONITOR'] = ko.observable({{mag.readback}}).extend({numeric: 3});
          this['{{mag.tag}}_CYCLE_STATUS'] = ko.observable('{{mag.cycle_status}}');
          this.magnetsToCycle = ko.observableArray([]);
        {% endfor %}
      }
      var viewModel = new AppViewModel();

      var loc = window.location;
      var socket = new WebSocket('ws://'+loc.hostname+':'+loc.port+'/socket');
      socket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        var property = data.pvname.replace(/[:-]/g, '_');
        viewModel[property](data.value);
      }

      function postDataAsJSON(url, data) {
        var request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        request.send(JSON.stringify(data));
      }

      document.addEventListener('DOMContentLoaded', function() {
        ko.applyBindings(viewModel);
        document.getElementById('cycle-button').onclick = function() {
          postDataAsJSON('{{ url_for("cycle") }}', viewModel.magnetsToCycle());
        }
        document.getElementById('select-all-button').onclick = function() {
          viewModel.magnetsToCycle([{% for mag in magnets %}'{{mag.tag}}',{% endfor %}]);
        }
        document.getElementById('deselect-all-button').onclick = function() {
          viewModel.magnetsToCycle([]);
        }
        document.getElementById('reset-button').onclick = function() {
          postDataAsJSON('{{ url_for("reset") }}');
        }
      });
    </script>
  </head>
  <body>
    <div class='content'>
      {% macro table(mags) %}
        <table>
          <colgroup>
            <col class='name'>
            <col class='value'>
            <col class='value'>
            <col class='status'>
            <col class='cycle'>
          </colgroup>
          <thead>
            <tr>
              <th>Name</th>
              <th class='numeric'>Setpoint</th>
              <th class='numeric'>Readback</th>
              <th>Status</th>
              <th>Cycle</th>
            </tr>
          </thead>
          <tbody>
            {% for mag in mags %}
              <tr>
                <td>{{mag.name}}</td>
                <td class='numeric' data-bind='text: {{mag.tag}}_CURRENT_SP'></td>
                <td class='numeric' data-bind='text: {{mag.tag}}_CURRENT_MONITOR'></td>
                <td data-bind='text: {{mag.tag}}_CYCLE_STATUS'></td>
                <td><input type='checkbox' value='{{mag.tag}}' data-bind='checked: magnetsToCycle'/></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endmacro %}

      <div class='tables-container clearfix'>
        {{ table(magnets[:12]) }}
        {{ table(magnets[12:24]) }}
        {{ table(magnets[24:]) }}
      </div>
      <div>
        <button type='button' class='small-button' id='select-all-button'>Select All</button>
        <button type='button' class='small-button' id='deselect-all-button'>Deselect All</button>
        <button type='button' class='small-button' id='reset-button'>Reset Statuses</button>
      </div>

      <button type='button' class='big-button' id='cycle-button'>Cycle Selected Magnets</button>
    </div>
  </body>
</html>
